<section class="card">
  <div class="section">
    <h2>Data Binding</h2>

    <nav class="sub-menu">
      <button routerLink="interpolation" routerLinkActive="active">
        Interpolation
      </button>
      <button routerLink="property" routerLinkActive="active">
        Property Binding
      </button>
      <button routerLink="event" routerLinkActive="active">
        Event Binding
      </button>
      <button routerLink="two-way" routerLinkActive="active">
        Two Binding
      </button>
    </nav>

    <router-outlet></router-outlet>
  </div>
</section>
